.root_vertical {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.button_vertical {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--mui-palette-expandableBlock-button);
  border-radius: var(--mui-properties-borderRadius) var(--mui-properties-borderRadius) 0 0;
  padding: 3px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: var(--mui-palette-expandableBlock-hover);
  }
}

.collapse_vertical {
  border-radius: 0 0 var(--mui-properties-borderRadius) var(--mui-properties-borderRadius);
  background-color: var(--mui-palette-expandableBlock-background);
}

.root_horizontal {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.button_horizontal {
  display: flex;
  align-items: center;
  background-color: var(--mui-palette-expandableBlock-button);
  border-radius: var(--mui-properties-borderRadius) 0 0 var(--mui-properties-borderRadius);
  padding: 3px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: var(--mui-palette-expandableBlock-hover);
  }
}

.collapse_horizontal {
  border-radius: 0 var(--mui-properties-borderRadius) var(--mui-properties-borderRadius) 0;
  background-color: var(--mui-palette-expandableBlock-background);
}
