.root {
  position: relative;
  padding: 16px 32px;
}

.hint {
  position: absolute;
  top: 8px;
  right: 8px;
}

.controls {
  padding-left: 18px;
}

.variants {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  padding-top: 12px;
}
