.root {
  word-break: break-word;
  white-space: pre;

  p {
    white-space: pre-wrap;
  }

  strong {
    font-weight: bold;
    font-size: inherit;
  }
  em {
    font-size: inherit;
  }

  img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
  }

  code {
    font-family: 'Menlo', 'DejaVu Sans Mono', 'Liberation Mono', 'Consolas', 'Ubuntu Mono', 'Courier New', 'andale mono',
      'lucida console', monospace;
  }

  p > code {
    background-color: var(--mui-palette-code-background);
    border-radius: 4px;
    padding: 2px 4px;
  }

  pre {
    border: 1px solid var(--mui-palette-code-border);
    margin: 0;
    border-radius: 4px;
    padding: 12px;
  }

  ol {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-position: inside;
  }
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-position: inside;
  }

  blockquote {
    margin: 0;
    padding: 4px 0px 4px 8px;
    border-left: 3px solid lightgray;
    line-height: 0;
  }
}
