.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  align-items: center;
  box-sizing: border-box;
}

.rootMobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  align-items: center;
  box-sizing: border-box;
}

.firstRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.rightColumn {
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.logo {
  position: relative;
}

.version {
  position: absolute;
}
