.root {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.input {
  display: flex;
  flex-direction: column;
  padding-top: 7px;
  padding-bottom: 5px;
  flex: auto;
}
