.root {
  display: flex;
  flex-direction: column;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
